# samd51bare Bare metal samd51j20 target 
DICTIONARY_SIZE=200
FORTH_PLATFORM=platform/atsamd51/atsamd51j20a.fth
BARE_METAL_TARGET=platform/atsamd51/platform.c
GCC_PREFIX=$(PWD)/arm-tools/gcc-arm-none-eabi-9-2019-q4-major/bin/
CC_GCC=$(GCC_PREFIX)arm-none-eabi-g++
CC_CFLAGS=$(CFLAGS)
CC_CFLAGS+=-mcpu=cortex-m4 
CC_CFLAGS+=-mthumb 
CC_CFLAGS+=-ffunction-sections -fdata-sections -fno-threadsafe-statics -nostdlib 
CC_CFLAGS+=--param max-inline-insns-single=500 -fno-rtti -fno-exceptions -MMD 
CC_CFLAGS+=-mfloat-abi=hard -mfpu=fpv4-sp-d16 
CC_CFLAGS+=-fpermissive

CC_CFLAGS+=-I$(PWD)/arm-tools/ArduinoModule-CMSIS-Atmel/CMSIS-Atmel/CMSIS/Device/ATMEL/samd51/include
CC_CFLAGS+=-D__SAMD51J20A__
CC_CFLAGS+=-I$(PWD)/arm-tools/CMSIS_5/CMSIS/Core/Include
CC_LFLAGS=
CC_LFLAGS+=-Wl,--gc-sections 
CC_LFLAGS+=-save-temps
CC_LFLAGS+=-Tscripts/samd51j20_flash_16kbootloader.ld
CC_LFLAGS+=--specs=nano.specs --specs=nosys.specs 
CC_LFLAGS+=-mcpu=cortex-m4 
CC_LFLAGS+=-mthumb  
CC_LFLAGS+=-mfloat-abi=hard 
CC_LFLAGS+=-mfpu=fpv4-sp-d16  
CC_LFLAGS+=-Wl,--check-sections
CC_LFLAGS+=-Wl,--gc-sections 
CC_LFLAGS+=-Wl,--unresolved-symbols=report-all 
CC_LFLAGS+=-Wl,--warn-common 
CC_LFLAGS+=-Wl,--warn-section-align  
UPLOAD=$(PWD)/arm-tools/bossac -p /dev/cu.usbmodem201 --offset 0x4000 -e -w -v -R 

